{% extends 'base.html'  %}

{% block content %}
<h1> View Tweets </h1>

<form method="POST">
  {% for field in form 
    if field.widget.input_type != 'hidden' %}

  <p> 
    {{ field.label }}
    {{ field(class_='form-control') }}

    {% for error in field.errors %}
    <span class="form-text text-danger"> {{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %} 

  <button class="btn btn-success" type="submit">Post Tweet</button>
</form>

<ul>
{% for tweet in tweets %}
<li><b> {{ tweet.user.username}} </b> {{ tweet.text }} </li>
{% endfor %}

</ul>

{% endblock %} 





